<h2 style="text-align:center;color:darkgreen">List of available Books</h2><br>
<button type="button" class="btn btn-primary" #btn [routerLink]="['new']" >New Book</button>

<div *ngFor="let book of category[this.id].books;let i=index" >
{{this.id}}{{i}}

                     <div class="row">
                     <div class="col-sm-12">
                       <div class="container-fluid " >

    <a class="list-group-item clearfix" style="cursor: pointer"
 [routerLink]="[i]"  routerLinkActive="active"
 data-toggle="tooltip" title="Please Click to view details">
        
       
          <div class="pull-left">
        <h3 style="color:rgb(192, 6, 37) ">{{book.name}}</h3>
        <p style="color:crimson">{{book.Description}}</p>
        <span><a [routerLink]="['/bookIssued',this.index]">
          <button type="button" class="btn btn-danger" 

          >Download</button></a></span>
       </div>
        <div class="pull-right"><img [src]="book.imgPath" width="80px"
           height="80px" align="right" >
        </div>
        
         </a>


                      </div>
                     </div>
                     </div>
                    </div>


<br>


   