
  


<div class="row"  >
    <div class="col">
       <!-- <app-header (navLink)="selectedLink($event)"></app-header>-->
       <app-header></app-header>
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
     <!--<app-books *ngIf="loadedFeature ==='About-book'" (newIssue)="issue($event)"></app-books>-->
<router-outlet></router-outlet>
  </div>
</div>


<!-- <div class="row" *ngIf="loadedFeature ==='Book-issued'">
    <div class="col-sm-12">
       <app-issue-books  *ngIf="getIssue;else Text"></app-issue-books>-->
      <!-- <app-issue-books [issueMyBook]="myBook" *ngIf="myBook;else Text"></app-issue-books>
        <ng-template #Text>
            <h1 style="color:chocolate">No Book Selected For Issue</h1>

        </ng-template>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <app-add-book *ngIf="loadedFeature ==='Add New Books'"></app-add-book>
    </div>
</div>-->
